PORT=3000
MONGODB_URI=mongodb+srv://Esmepalacios19:esme1904@cluster0.mrdtad8.mongodb.net/Pokedex?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=super_secret_key_change_me
FRONTEND_URL=http://localhost:5173
